APP_NAME=Radix
APP_VERSION=1.0.1
SITE_URL=localhost
SITE_PORT=3000
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
MAIL_HOST=
MAIL_PORT=
MAIL_SECURE=
MAIL_USER=
MAIL_PASS=
THEME=default
SESSION_SECRET=
STATUS=live
TINYMCEAPI=